.about section {
  text-align: center;
  margin: 50px 0 0 0;
}
.about img {
  width: 350px;
  margin: 40px 0;
}

.about h1 {
  font-size: 50px;
  margin-left: 20px;
}

.about h2,
h3,
li {
  font-size: 22px;
  line-height: 1.5;
  margin-left: 20px;
}

.about .header-text {
  margin: 70px 0 100px 0;
}
