.homev2 {
  text-align: center;
  height: 100%;
}

.homev2 .container {
  padding: 0 50px;
  max-width: 100%;
}

.homev2 h1 {
  font-size: 50px;
  padding: 50px 0;
}

.homev2 h4 {
  font-size: 20px;
}

.homev2 .work-button {
  color: #060b26;
  text-decoration: none;
}

.homev2 a:hover {
  opacity: 0.7;
}

.homev2 img {
  border-radius: 10px;
  margin-bottom: 20px;
  width: 357px;
  height: 238px;
}

.homev2 .couch-icon {
  font-size: 50px;
  display: block;
  margin: 0 auto;
}

.homev2 .compass-icon {
  font-size: 45px;
  display: block;
  margin: 0 auto;
}

.homev2 .bulb-icon {
  font-size: 53px;
  display: block;
  margin: 0 auto;
}

.homev2 .building-icon {
  font-size: 45px;
  display: block;
  margin: 0 auto;
}

.homev2 section {
  margin: 90px 0;
}

@media (max-width: 992px) {
  .maintitle {
    margin-top: 10px;
  }
  .undertitle {
    margin-bottom: 20px;
  }
}

@media (min-width: 992px) {
  .homev2 .couch-icon {
    margin-bottom: 20px;
  }

  .homev2 .compass-icon {
    margin-bottom: 25px;
  }

  .homev2 .bulb-icon {
    margin-bottom: 18px;
  }

  .homev2 .building-icon {
    margin-bottom: 23px;
  }
}
