.prices section {
  text-align: center;
  margin: 50px 0;
}

.prices .column {
  text-align: center;
  margin-bottom: 100px;
}

.prices .btn-branding {
  margin: 0;
}

@media (max-width: 768px) {
  .prices h1 {
    font-size: 35px;
  }
  p {
    font-size: 12px;
  }
}
