.footer p {
  color: #fff;
  line-height: 1.5;
  margin: 3px;
  text-align: center;
  font-size: 12px;
}

.footer {
  background: #060b26;
  height: 90px;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.footer .container {
  margin: 0 40px;
  padding-bottom: 10px;
}

.footer img {
  width: 200px;
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}

.footer small {
  color: white;
}

.footer .icons {
  color: #fff;
  font-size: 25px;
  margin: 30px 10px 0 10px;
}
