.services section {
  text-align: center;
  margin: 40px 0;
}

.services h2 {
  text-align: left;
  margin-bottom: 20px;
}
.services h4 {
  font-size: 20px;
}

.services i {
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.services a {
  color: #060b26;
  text-decoration: none;
}

.services i:hover {
  opacity: 0.7;
}
